<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div style="background: #616161" class="container">
    <div style="background: #616161" class="row">
        <section style="background: #616161" id="what-we-do">
            <div style="background: #616161" class="container-fluid">
                <div>
                    <h2 style="font-family: 'Exo 2" class="section-title mb-2 h1">Top 5</h2>
                </div>
                <div>
                    <h2 style="font-family: 'Raleway" class="mini">Most Occuring</h2>
                </div>
                <p style="color: #9E9E9E; font-family: 'Exo 2'" class="text-center text-muted h5">These are the 5 most occuring words in the company name field. You can see the top 5 companies containing these words.</p>
                <div class="row mt-5">
                    <div ng-repeat="word in words | orderBy:['-occurences','word'] " class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-1">
                                <h3 class="card-title">{{$index+1}}. {{word.word}} </h3>
                                <h4 class="card-text">
                                    Count: {{word.occurences}}
                                </h4>

                            </div>

                            <div class="dropdown">
                                <button style="background: #212121;" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Companies
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="width: 100%;" ng-repeat="company in uniqueAllComapnyNames | filter : word.word | limitTo:-5">{{company}}</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</div>