<!-- Main navigation -->

<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gugi|Exo+2|Raleway" rel="stylesheet">
<ul style=" list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #212121;">
    <li style="font-family: 'Exo 2'; font-size: 20px">Aashir Javed | Markinsons</li>

</ul>